# Ignorar carpetas de entorno virtual
/backend/venv/

# Ignorar archivos de compilación de React
/frontend/node_modules/
frontend/build/

# Ignorar archivos y carpetas específicos de Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Ignorar archivos de log y bases de datos temporales
*.log
*.sqlite3

# Ignorar archivos y configuraciones específicas de Docker
docker-compose.override.yml
.env
*.pid

# Ignorar configuraciones de IDE y sistema operativo
.vscode/
.idea/
.DS_Store
Thumbs.db


#otros
.gitpass
bd
diagram
structure